{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="card">
<div class="card-body">
<form method="post">
   
  <h1 class="h3 mb-3 ">ONLINE MEDICAL CONSULTANT SYSTEM </h1>
  <div class="row">
  <div class="col-4">
<img class="img-responsive img-centered" width="300px" height="300px" src="{{ asset('assets/dist/img/cc.png')}}"></img>
  </div>
  <div class="col-6">
    <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
     {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <label for="inputEmail">Phone</label>
    <input type="text" value="{{ last_username }}" name="phone" id="inputEmail" class="form-control" autocomplete="phone" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-block my-3 btn-primary" type="submit">
        Sign in
    </button>
    <a href="{{path('app_register')}}"  >
        not registered yet?
    </a>
</div>
</form>
{% endblock %}
