{% extends 'base.html.twig' %}

{% block title %}Profession index{% endblock %}

{% block body %}
    <h1>Profession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profession in professions %}
            <tr>
                <td>{{ profession.id }}</td>
                <td>{{ profession.name }}</td>
                <td>{{ profession.description }}</td>
                <td>
                    <a href="{{ path('app_profession_show', {'id': profession.id}) }}">show</a>
                    <a href="{{ path('app_profession_edit', {'id': profession.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profession_new') }}">Create new</a>
{% endblock %}
