{% extends 'base.html.twig' %}

{% block title %}Consultation List{% endblock %}

{% block body %}
    <h2>Consultation List</h2>

    <div class="card">
    <div class="card-header">
   
    {% if not hasActiveRequest() %}
    
     <a class="btn btn-info float-right" href="{{ path('app_consultation_request_new') }}">Consult new</a>
    {% endif %}

    </div>
    <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Patient</th>
                <th>Request Description</th>
                <th>Requested At</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation_request in consultation_requests %}
            <tr>
                <td>{{ loop.index}}</td>
                <td>{{ consultation_request.patient }}</td>
                <td>{{ consultation_request.requestDescription }}</td>
                <td>{{ consultation_request.requestedAt ? consultation_request.requestedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td ><span class="badge badge-info">{{ consultation_request.status!=4 ? "Active":"Not active" }}</span></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_consultation_request_show', {'id': consultation_request.id}) }}">show</a>
                    {# <a class="btn btn-warning" href="{{ path('app_consultation_request_edit', {'id': consultation_request.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {% endblock %}
